.breadcrumb {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: 14px;
  margin-top: 10px;
}

.breadcrumb a {
  text-decoration: none;
  color: #333;
}

.breadcrumb span {
  color: #333;
}

.breadcrumb-info{
  font-weight: 600;
}