@font-face {
  font-family: "Inter";
  src: url("../public/Inter.ttf") format("truetype");
}
body {
    margin: 20px;
    padding: 0;
    font-family: "Inter";
    font-weight: 400;
}
@media screen and (min-width: 961px) {
  .sidebar {
    /* display: flex; */
    width: 40%
  }
}
.is-sticky {
  position: fixed;
  top: 10px;
  z-index: 999;
  animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
}

.order-ques{
  text-align: center;
  margin: 30px 5px 5px 5px;
}


.tab {
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
  justify-items: baseline;
  padding: 3% 5% 0 5%;
  overflow: hidden;
}

.tab-button {
  /* font-size: 10px; */
  font-family: inherit;
  font-weight: 600;
  padding: 20px 0px;
  border: 1px solid #ccc;
  background-color: transparent;
  cursor: pointer;
  transition: border-color 0.3s ease;
  border-radius: 0;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tab-button.active {
  border-color: #866831;
  border-width: 2px;
  background-color: #fff;
}

.tab-button:hover {
  border-color: #866831;
  background-color: #f0f0f0;
  /* color: #866831; */
}

.tab-icon {
  width: 16px;
  height: 16px;
  margin: 0 10px;
}

.tab-content {
  margin-top: 20px;
}



